@model _301379036_chen_lab3.Models.EpisodeModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EpisodeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PodcastId" class="control-label"></label>
                <input asp-for="PodcastId" class="form-control" />
                <span asp-validation-for="PodcastId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayCount" class="control-label"></label>
                <input asp-for="PlayCount" class="form-control" />
                <span asp-validation-for="PlayCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AudioFileURL" class="control-label"></label>
                <input asp-for="AudioFileURL" class="form-control" />
                <span asp-validation-for="AudioFileURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfViews" class="control-label"></label>
                <input asp-for="NumberOfViews" class="form-control" />
                <span asp-validation-for="NumberOfViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

