
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method=" ="post>
    <div class="container">
        <label>Username</label>
		<input type="text" name="username" class="form-control" required />
        <label>Password</label>
		<input type="password" name="password" class="form-control" required />
    </div>

</form>

